<div class="relative">
  <section id="sumario">
      <h1>Resumo</h1>
      <p>
          Front-end developer (2012) com experiência de trabalho na SODA Virtual, uma das maiores empresas do ramo
          de sites e social media do mercado, como estagiário focado em estrutura semantica utilizando HTML5,
          CSS3(LESS/SASS), Javascript com JSON e programação estilo WebApp com back-end em Django.
      </p>
  </section>
  <section>

      <header class="cabecalho">
          <h2>Conhecimento</h2>
      </header>
      <table class="tabela">
          <tr>
              <th class="span3">Front-End</th>
              <th class="span3">Back-End</th>
          </tr>
          <tr>
              <td>HTML 5.0, CSS 3.0, JQuery</td>
              <td><a href="https://github.com/ViniciusAtaide/PWeb">Java EE</a> </td>
          </tr>
          <tr>
              <td>AngularJS (Yeoman Workflow)</td>
              <td>Firebase + NodeJS (MeteorJS/ExpressJS/SailsJS) </td>
          </tr>
          <tr>
              <td>Search Engine Optimization</td>
              <td><a href="http://taskmanagerajax.herokuapp.com/Tasks">Ruby on Rails (Básico)</a> </td>
          </tr>
          <tr>
              <td></td>
              <td><a href="https://developers.google.com/edu/python/?hl=pt-PT">Python</a> (intermediário) com <a href="http://plastex.sodateste.com.br">Django </a>
                  (Intermediário)</td>
          </tr>
          <tr>
              <td></td>
              <td>PHP</td>
          </tr>
          <tr>
              <td></td>
              <td>MySQL && PostgreSQL && MongoDB</td>
          </tr>
      </table>
  </section>
</div>